@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Ocultar barra de scroll para IE, Edge y Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}