name: Deploy Portfolio
on:
  push:
    branches:
      - main 

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Upload to GCS
        uses: google-github-actions/upload-cloud-storage@v2
        with:
          path: 'dist'  
          destination: 'cloud-engineer-portfolio'
          parent: false